@model CreateReviewViewModel


<div class="page-title">
    <h1>
        Product review for
        <a asp-action="Offer" asp-controller="Offer" asp-route-id="@Model.OfferId">@Model.OfferName</a>
    </h1>
</div>
<div calss="page-body">
    <div class="write-review">
        <form asp-route="CreateReview" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="fieldset">
                <input asp-for="OfferId" value="@Model.OfferId" hidden="hidden">
                <div class="inputs">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="review-title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="inputs">
                    <label asp-for="Comment" asp-postfix=":"></label>
                    <textarea asp-for="Comment" class="review-text"></textarea>
                    <nop-required />
                    <span asp-validation-for="Comment"></span>
                </div>
                <div class="review-rating">
                    <div class="name-description">
                        <label asp-for="Score" asp-postfix=":"></label>
                    </div>
                    <div class="rating-wrapper">
                        <div class="label first">Bad</div>
                        <div class="rating-options">
                            <input asp-for="Score" value="1" type="radio" id="addproductrating_1" aria-label="Bad" />
                            <input asp-for="Score" value="2" type="radio" id="addproductrating_2" aria-label="NotGood" />
                            <input asp-for="Score" value="3" type="radio" id="addproductrating_3" aria-label="NotBadNotExcellent" />
                            <input asp-for="Score" value="4" type="radio" id="addproductrating_4" aria-label="Good" />
                            <input asp-for="Score" value="5" type="radio" id="addproductrating_5" aria-label="Excellent" />
                        </div>
                        <div class="label last">Excellent</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Review" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

