@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo.png">
    <h4 class="display-4">Welcome Hotel Booking Website, please login and view our offers</h4>
</div>
