@model List<OffersViewModel>

<div class="product-grid">
    <div class="item-grid">
        @foreach (var item in Model)
        {

            <div class="item-box">
                <div class="product-item">
                    <div class="picture">
                        <a asp-area="" asp-controller="Offer" asp-action="Offer" asp-route-id="@item.ID">
                            <img src="https://picsum.photos/200/300" alt="Product">
                        </a>
                    </div>
                    <div class="details">
                        <div class="product-title">@item.Name</div>
                    </div>
                    <div class="product-rating-box">
                        <div class="rating">
                            <div style="width:@(item.Raiting * 20)%"></div>
                        </div>
                    </div>
                    <div class="prices">
                        <span class="price actual-price">$@item.Price</span>
                    </div>
                    @if (!item.IsBooked)
                    {
                        <div class="button">
                            <input type="button"
                                   value="Book"
                                   onclick="location.href='@Url.Action("BookOffer", "Offer",new { item.ID })'" />
                        </div>
                    }
                    else
                    {
                        <div class="text">
                            <span>This offer is already booked</span>
                        </div>
                    }
                </div>
            </div>
         }
    </div>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create", "CreateOffer");
    }
</div>